@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

#root {
  width: 500px;
  height: 600px;
  background-image: linear-gradient(to bottom right, #f3ca20 0%, #000000 100%);

  border: black solid 2px;
  border-radius: 5px;
}
